[submodule "autotest"]
	path = autotest
	url = https://github.com/yst990102-COMP6991-23T3/autotest.git
[submodule "Assignment/Assignment-01"]
	path = Assignment/Assignment-01
	url = https://github.com/yst990102-COMP6991-23T3/Assignment-01.git
[submodule "Assignment/Assignment-02"]
	path = Assignment/Assignment-02
	url = https://github.com/yst990102-COMP6991-23T3/Assignment-02.git
[submodule "venv"]
	path = venv
	url = https://github.com/yst990102-COMP6991-23T3/venv.git
[submodule "Lecture"]
	path = Lecture
	url = https://github.com/yst990102-COMP6991-23T3/Lecture.git
[submodule "Lab/Lab-00"]
	path = Lab/Lab-00
	url = https://github.com/yst990102-COMP6991-23T3/Lab-00.git
[submodule "Lab/Lab-01"]
	path = Lab/Lab-01
	url = https://github.com/yst990102-COMP6991-23T3/Lab-01.git
[submodule "Lab/Lab-02"]
	path = Lab/Lab-02
	url = https://github.com/yst990102-COMP6991-23T3/Lab-02.git
[submodule "Lab/Lab-03"]
	path = Lab/Lab-03
	url = https://github.com/yst990102-COMP6991-23T3/Lab-03.git
[submodule "Lab/Lab-04"]
	path = Lab/Lab-04
	url = https://github.com/yst990102-COMP6991-23T3/Lab-04.git
[submodule "Lab/Lab-05"]
	path = Lab/Lab-05
	url = https://github.com/yst990102-COMP6991-23T3/Lab-05.git
[submodule "Lab/Lab-07"]
	path = Lab/Lab-07
	url = https://github.com/yst990102-COMP6991-23T3/Lab-07.git
[submodule "Lab/Lab-08"]
	path = Lab/Lab-08
	url = https://github.com/yst990102-COMP6991-23T3/Lab-08.git
[submodule "Lab/Lab-09"]
	path = Lab/Lab-09
	url = https://github.com/yst990102-COMP6991-23T3/Lab-09.git
[submodule "Lab/Lab-10"]
	path = Lab/Lab-10
	url = https://github.com/yst990102-COMP6991-23T3/Lab-10.git
[submodule "Workshop/Workshop-01"]
	path = Workshop/Workshop-01
	url = https://github.com/yst990102-COMP6991-23T3/Workshop-01.git
[submodule "Workshop/Workshop-02"]
	path = Workshop/Workshop-02
	url = https://github.com/yst990102-COMP6991-23T3/Workshop-02.git
[submodule "Workshop/Workshop-03"]
	path = Workshop/Workshop-03
	url = https://github.com/yst990102-COMP6991-23T3/Workshop-03.git
[submodule "Workshop/Workshop-04"]
	path = Workshop/Workshop-04
	url = https://github.com/yst990102-COMP6991-23T3/Workshop-04.git
[submodule "Workshop/Workshop-05"]
	path = Workshop/Workshop-05
	url = https://github.com/yst990102-COMP6991-23T3/Workshop-05.git
[submodule "Workshop/Workshop-07"]
	path = Workshop/Workshop-07
	url = https://github.com/yst990102-COMP6991-23T3/Workshop-07.git
[submodule "Workshop/Workshop-08"]
	path = Workshop/Workshop-08
	url = https://github.com/yst990102-COMP6991-23T3/Workshop-08.git
[submodule "Workshop/Workshop-09"]
	path = Workshop/Workshop-09
	url = https://github.com/yst990102-COMP6991-23T3/Workshop-09.git
[submodule "Workshop/Workshop-10"]
	path = Workshop/Workshop-10
	url = https://github.com/yst990102-COMP6991-23T3/Workshop-10.git
[submodule "Final-Exam"]
	path = Final-Exam
	url = https://github.com/yst990102-COMP6991-23T3/Final-Exam.git
